.header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;

  background: white;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  z-index: 100;
}

.header h2 {
  color: #5b2173;
}

.cart-button {
  background: #5b2173;
  color: white;

  padding: 10px 14px;

  border-radius: 8px;

  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-box {
  background: #5b2173;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: bold;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 80px;
  height: 80px;
  object-fit: contain;

  border-radius: 50%;
}