.home {
  max-width: 600px;

  margin: 0 auto;

  padding: 16px;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.user-box {
  background: #5b2173;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: bold;
}